.profile--image{
	display: block;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-right: auto;
	margin-bottom: 10px;
}

.profile--section--image{
	display: block;
	text-align: center;
}

.profile--section--info{
	padding-top: 10px;
}

#avatarUpload{
	padding-top: 10px;
}

/*Meldingen en Notificaties*/

.panel-heading{
	margin-top: -20px;
}

.primeSwitch{
	margin-bottom: 30px;
}

.h6_melding{
	margin-bottom: -10px;
}

.meldingrow{
	margin-left: 20px;
	margin-top: -40px;
}

/*sliders grondstofsilo notificatie*/
.primeSwitch {
	position: relative; width: 90px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.primeSwitch-checkbox {
	display: none;
}
.primeSwitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.primeSwitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.primeSwitch-inner:before, .primeSwitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.primeSwitch-inner:before {
	content: "AAN";
	padding-left: 10px;
	background-color: #34C280; color: #FFFFFF;
}
.primeSwitch-inner:after {
	content: "UIT";
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.primeSwitch-switch {
	display: block; width: 22px; margin: 4px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 56px;
	border: 2px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.primeSwitch-checkbox:checked + .primeSwitch-label .primeSwitch-inner {
	margin-left: 0;
}
.primeSwitch-checkbox:checked + .primeSwitch-label .primeSwitch-switch {
	right: 0px;
}

/*sliders afvalsilo notificatie*/
.wasteSwitch {
	position: relative; width: 90px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.wasteSwitch-checkbox {
	display: none;
}
.wasteSwitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
}
.wasteSwitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.wasteSwitch-inner:before, .wasteSwitch-inner:after {
	display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
	font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.wasteSwitch-inner:before {
	content: "AAN";
	padding-left: 10px;
	background-color: #34C280; color: #FFFFFF;
}
.wasteSwitch-inner:after {
	content: "UIT";
	padding-right: 10px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.wasteSwitch-switch {
	display: block; width: 22px; margin: 4px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 56px;
	border: 2px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.wasteSwitch-checkbox:checked + .wasteSwitch-label .wasteSwitch-inner {
	margin-left: 0;
}
.wasteSwitch-checkbox:checked + .wasteSwitch-label .wasteSwitch-switch {
	right: 0px;
}